@font-face {
    font-family: 'Cubic';
    src:         url('/cubic.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}
@font-face {
    font-family: 'Squared';
    src:         url('/squared.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

$white: #ffffff;
$blue: #0000ff;
$black: #000000;
$dark: #080808;
$red: #ff0000;
$light: #eeeeee;

body {
  background-color: $dark;
  overflow-x: hidden;
  height: 1450px;
  max-height: 1450px;
}
h1 {
  font-family: 'Cubic';
  color: $blue;
  position: absolute;
  top: 40vh;
  right: 10vh;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 8px;
  text-shadow: -8px -4px 8px rgba(0, 0, 255, 0.4),
                8px -4px 8px rgba(255, 0, 0, 0.4);
}
h2 {
  font-family: 'Cubic';
  color: $blue;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 4px;
  text-shadow: -6px -3px 6px rgba(0, 0, 255, 0.4),
                6px -3px 6px rgba(255, 0, 0, 0.4);
}
article {
  text-align: right;
  font-family: 'Squared';
  color: $light;
  letter-spacing: 2px;
  position: absolute;
  top: 60vh;
  right: 10vh;
  font-size: 20px;
  width: 35vw;
}
button {
  color: $white;
  background: transparent;
  border: 0;
  font-family: 'Squared';
  letter-spacing: 2px;
  font-size: 20px;
  outline: 0;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin-right: -20px;
  padding-right: 10px;
}
li {
  padding-right: 10px;

  &:after {
    position: relative;
    left: 10px;
    content: "\25C1";
    color: $red;
    padding-left: 10px;
  }
  &:hover:after {
      left: 20px;
  }
}
svg {
  fill: $blue;
  width: 64px;
}
textarea {
  background-color: $black;
  border: 1px solid $white;
  font-family: 'Squared';
  color: $light;
  font-size: 20px;
  padding: 4px;
  font-weight: bold;
  width: 24vw;
  height: 20vh;
  letter-spacing: 2px;
}
input[type=submit] {
  background-color: $light;
  border: 2px solid $white;
  font-family: 'Squared';
  color: $black;
  font-size: 20px;
  padding: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: -64px;
}
input[type=submit]:hover {
  border: 2px solid $blue;
}

section {
  border-radius: 50%;
  height: 80vh;
  width: 80vh;
  background-color: $black;
  position: fixed;
  top: 10vh;
  left: 10vh;
  animation: animHole 12s infinite alternate;
}

@import 'stars.scss';

/*  Scrollbars  */
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: $dark;
}
::-webkit-scrollbar-thumb {
    background: $blue;
    border: 1px solid $dark;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: $dark;
}
::-webkit-scrollbar-button {
    background: $dark;
    border: 1px solid $dark;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
  background: $dark;
}

/*  Mobile friendly */
@media screen and (max-width: 1200px) {
  h1 {
    top: 8vh;
    right: 4vh;
    font-size: 80px;
  }
  h2 {
    font-size: 48px;
  }
  article {
    font-size: 32px;
    top: 24vh;
    right: 4vh;
    width: 80vw;
  }
  textarea {
    width: 80vw;
    height: 20vh;
  }
  section {
    height: 10vh;
    width: 10vh;
    top: 12vh;
    left: 4vh;
  }
}

.toast {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  animation: fade 0.5s ease 5s;
  animation-fill-mode: forwards;
  width: 560px;
  height: auto;
  z-index: 10000000;

  svg {
    padding: 20px;
    width: 60px;
    height: 60px;
    display: inline-block;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    path {
      fill: #ffffff;
    }
  }
  .message {
    padding: 20px;
    width: calc(100% - 80px);
    min-height: 60px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
}
.toast_error {
  background-color: #dc3545;
}
.toast_warning {
  background-color: #ffc107;
}
.toast_note {
  background-color: #17a2b8;
}
.toast_success {
  background-color: #28a745;
}

@keyframes fade {
    from {
      right: 0;
      opacity: 1;
    }
    to {
      right: 300px;
      opacity: 0;
      display: none;
    }
}